@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Welcome to the site that tells you about the movies in this film collection.
        Here you can learn more about me and discover some places where you can find me at</p>
    <br />
    <img src="~/img/joelhiltonheadshot.jpg" />
    <br />
    <p>Add to my Movie Collection</p>
</div>

