@{
    ViewData["Title"] = "Get to Know Me";
}

<div>
    <p>Here's a link to where you can watch me preform! Quick Wits is a Improv show you can frequently find me at.</p>

    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
    <br />
    <p>Along with Improv I have a podcast! BaconSale is a movie review podcast I started with some friends. You can find the link here.</p>
    <a href="https://baconsale.com/">BaconSale</a>
    <br />
    <a href="https://baconsale.com/"><img src="~/baconsalekate.jpg" /></a>

    
</div>
